[Unit]
Description=%n Graphite Container
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull graphiteapp/graphite-statsd
ExecStart=/usr/bin/docker run -d \
                          --name %n \
                          --restart=always \
                          -v /data/graphite/conf:/opt/graphite/conf \
                          -v /data/graphite/storage:/opt/graphite/storage \
                          -p 8080:80 \
                          -p 2003-2004:2003-2004 \
                          -p 2023-2024:2023-2024 \
                          -p 8125:8125/udp \
                          -p 8126:8126 \
                          graphiteapp/graphite-statsd

[Install]
WantedBy=multi-user.target