[Unit]
Description=%n Traefik Container
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull traefik
ExecStart=%h/bin/traefik.sh %n

[Install]
WantedBy=default.target
