[Unit]
Description=%n Traefik Container
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull traefik
ExecStart=/usr/bin/docker run \
                          --name %n \
                          -p 443:443 \
                          -p 80:80 \
                          -v traefik-data:/letsencrypt/ \
                          -v /run/user/1000/docker.sock:/var/run/docker.sock \
                          --network grafana-graphite \
                          traefik \
                          --providers.docker=true \
                          --entryPoints.port443.address=:443 \
                          --entryPoints.port80.address=:80 \
                          --certificatesResolvers.letsencrypt.acme.tlsChallenge=true \
                          --certificatesResolvers.letsencrypt.acme.email=jaroslaw@sulku.net \
                          --certificatesResolvers.letsencrypt.acme.storage=/letsencrypt/acme.json

[Install]
WantedBy=default.target
